<div>
  <h2>Resultados da busca por: <span>"<%= params[:q] %>"</span></h2>
  <ul>
    <% @results.each do |result| %>
      <li>
        <%= link_to news_show_path(result), title: result.title do %>
          <%=  show_image result.thumb, result.title %>
          <h3>
            <%= result.title %>
          </h3>
          <p><%= result.title[1,20] %>...</p>
        <% end %>
      </li>
    <% end %>
  </ul>
</section>

<%= paginate @results %>
</div>